.search_films{
	border: 1px solid silver;
	width: 500px;
	padding: 20px;
	margin-bottom: 40px;
}

.title_film{
	display: inline-block;
	width: 60px;
	font-weight: bold;
}

#query{
	border: 1px solid #bababa;
	width: 500px;
	height: 30px;
	padding-left: 10px;
	font-size: 16px;
}

#query:focus{
	border-color: #4285f4;
}

#form_query{
	text-align: center;
	margin-top: 200px;
}

#submit{
	margin-top: 20px;
	width: 150px;
	height: 35px;
	border: 1px solid #b2b2b2;
	background-color: #f4f4f4;
	font-weight: bold;
	border-radius: 2px;
	color: #5d2222
}

#submit:active, #submit:focus{
	border-color: #4285f4;
}

#submit:hover{
	box-shadow: 0px 1px 0px silver;
	border-color: silver;
}

.details_button{
	float: right;
	margin-top: 15px;
	margin-bottom: 30px;
}

#submit2{
	margin-top: 20px;
	width: 150px;
	height: 35px;
	border: 1px solid #b2b2b2;
	background-color: #4485f3;
	font-weight: bold;
	border-radius: 2px;
	color: #ffffff
}

#submit2:active, #submit2:focus{
	border-color: #4285f4;
}

#submit2:hover{
	box-shadow: 0px 0px 1px #4485f3;
}

#query2{
	border: 1px solid #bababa;
	width: 560px;
	height: 30px;
	padding-left: 10px;
	font-size: 16px;
}

#query2:focus{
	border-color: #4285f4;
}

#form_query2{
	text-align: left;
	margin-top: 30px;
	margin-bottom: 80px
}

#empty_query{
	font-size: 25px;
	color: #bababa
}

#no_result{
	font-size: 16px;
	color: black
}









