#profil_box{
	width: 980px;
	padding-left: 20px;
	position: relative;
}

#main_box{
	width: 800px;
	position: relative;
	margin-bottom: 50px;
}

#infos_box{
	position: absolute;
	top: 0;
	right: 100px;
	width: 380px;
	height: 230px;
}

#profil_pic{
	position: absolute;
	top: 0;
	left: 0;
	width: 210px;
	height: 210px;
}

h2{
	font-size: 24px;
	font-weight: normal;
	color: #63b4fb;
}

.infos_box_label{
	display: inline-block;
	min-width: 150px;
	color: #63b4fb;
}

#update_button{
	position: absolute;
	bottom: 20px;
	right: 20px;
	min-width: 200px;
	height: 40px;
	background-color: #63b4fb;
	border: 0;
	color: white;
	font-size: 15px;
}

#update_button:hover{
	background-color: #637efb
}

#old_password, #new_password{
	width: 250px;
	height: 35px;
	border: 1px solid #bababa;
	padding-left: 5px;
	margin-top: 8px;
	font-size: 14px;
	color: black
}

#new_password:focus, #old_password{
	border: 1px solid #63b4fb;
}

.submit{
	width: 255px;
	height: 40px;
	border: 0;
	background-color: #63b4fb;
	color: white;
	margin-top: 18px;
	font-size: 17px
}

#submit:hover{
	background-color: #63cdfb
}

input:focus {
	outline-style: none;
}

h3{
	text-align: left;
}