#table-films{
	width: 1000px;
	border: 1px solid black;   
	border-collapse: collapse;
}

#table-films td, #table-films th{   
	border: 1px solid silver;
	padding: 4px;
	text-align: center;
	height: 30px;
	width: 200px;
	color: #63b4fb;
}

#table-films th{
	background-color: #b2b2b2;
	color: #ffffff;	
	height: 20px !important
}

#table-films tr:hover{	background-color: #f6f6f6}
.icone-navigateur, .icone-OS{
	width: 60px;
}

table a, table a:visited{
	color: #63b4fb;
	text-decoration: none;
}

table a:hover{
	text-decoration: underline;
}

#suppr {
	width: 15px;
	height: 15px;
}